<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>


<title>Lista</title>
</head>
<body>
	<h1>Evento</h1>
	<h3><a href="/evento">Lista Evento</a></h3>
	
	<div th:each="evento: ${cadEvento}">
		<div class="row">
			<p><span th:text="${evento.nome}"></span></p>
			<p><span th:text="${evento.sobrenome}"></span></p>
			<p><span th:text="${evento.email}"></span></p>
			<p><span th:text="${evento.telefone}"></span></p>
			<p><span th:text="${evento.local}"></span></p>
			<p><span th:text="${evento.data}"></span></p>
			<p><span th:text="${evento.horario}"></span></p>	
		</div><br/>
		
		<h1>Convidados cadastrados para o evento</h1><br/>
		
		<form method="post">
		<label>Nome Convidado</label>
		<input type="text" value="" name="Nome"/>
		<label>RG </label>
		<input type="text" value="" name="rg"/>
		<label>Email</label>
		<input type="text" value="" name="email"/>
		<label>Fone</label>
		<input type="text" value="" name="fone"/>
		
		<button type="submit">Adicionar</button>		
		
	</form>
		
	</div>
	
	

</body>
</html>
















