<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>


<title>Lista</title>
</head>
<body>
	<h1>Evento</h1>
	<h3><a href="/evento">Lista Evento</a></h3>
	
	<div th:each="evento: ${cadEvento}">
		<div class="row">
			<p><span th:text="${evento.nome}"></span></p>
			<p><span th:text="${evento.sobrenome}"></span></p>
			<p><span th:text="${evento.email}"></span></p>
			<p><span th:text="${evento.telefone}"></span></p>
			<p><span th:text="${evento.local}"></span></p>
			<p><span th:text="${evento.data}"></span></p>
			<p><span th:text="${evento.horario}"></span></p>	
		</div>
	</div>

</body>
</html>





